@model IEnumerable<ManagementStocuri.Models.OrderModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsShipped)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsShipped)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IDOrder }) |
                @Html.ActionLink("Details", "Details", new { id=item.IDOrder}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IDOrder })
            </td>
        </tr>
}
    </tbody>
</table>
