@model ManagementStocuri.Models.ProductModel

@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ProductDetails</h1>

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="row">

        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.IDProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDSupplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDSupplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceBuy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceBuy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceSell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceSell)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IDProduct }) |
    <a asp-action="Index">Back to List</a>
</div>
